{% extends 'base.html' %}
{% load i18n crispy_forms_tags humanize djgeneric_tags %}

{% block container %}
<div class="row mt-2">
    <div class="col-12 text-right">
      <div class="btn-group" role="group">
        {% if request.GET.all %}
        <a href="?{% querystring all='' %}" class="btn btn-sm btn-outline-info">{% trans "Show with data" %}</a>
        <a href="?{% querystring all=1 %}" class="btn btn-sm btn-info">{% trans "Show all" %}</a>
        {% else %}
        <a href="?{% querystring all='' %}" class="btn btn-sm btn-info">{% trans "Show with data" %}</a>
        <a href="?{% querystring all=1 %}" class="btn btn-sm btn-outline-info">{% trans "Show all" %}</a>
        {% endif %}
      </div>
    </div>

    {% for panel in panels %}
    <div class="col-md-6 col-xl-4">
        {% if panel.title %}
          <h4>{{ panel.title }}</h4>
        {% endif %}
        <div style="min-height: 400px">
            {% include panel.template_name with object_list=panel.object_list %}
        </div>
        {% if panel.more %}
        <div class="text-right mt-2">
            <a href="{{ panel.more_url }}">{% trans "View more..." %}</a>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
           {% trans "You have no pending items." %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
